.flex_container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 20px 20px;
}

.smaller_col {
	flex-grow: 2;
	max-width: 300px;
	padding: 20px 20px;
}

.larger_col {
	display: block;
	flex-grow: 5;
	padding: 20px 20px;
}

.seat_container {
	display: flex;
	flex-direction: column;
	margin: 20px 20px;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.seat {
	background-color: #000;
	height: 20px;
	width: 20px;
	margin: 8px 8px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.seat:nth-of-type(2) {
	margin-right: 18px;
}

.seat:nth-last-of-type(2) {
	margin-left: 18px;
}

.seat.selected {
	background-color: blue;
}

.seat.occupied {
	background-color: red;
}
