.banner_container {
	z-index: 1;
	position: relative;
	text-align: center;
}

.banner_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 2;
}

.banner_bg {
	height: 800px;
	z-index: 1;
}

.banner_bg:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%),
		linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);

	z-index: 2;
}

.card_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 500px;
}

.card_col {
	background-color: antiquewhite;
	border-radius: 10px;
	text-align: center;
	height: 400px;
	width: 20%;
	padding: 30px 30px;
}
