.container {
	padding: 30px;
	width: 65%;
	background-color: #2a364a;
	max-width: 1000px;
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.info {
	margin: 15px 15px;
	padding: 15px 15px;
	height: fit-content;
}

.sub_info {
	margin-left: 20px;
	padding: 10px 10px;
	line-height: 1.5;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
	width: 300px;
}

tr:nth-child(even) {
	background-color: rgb(71, 71, 71);
}

tr:hover {
	background-color: #01bf71;
	color: black;
}

.dummy {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
