.movie_card {
	background-color: #2a364a;
	padding: 10px 10px;
	margin: 20px 10px;
	max-width: 250px;
	height: 650px;
	max-height: 650px;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.grid_container {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: auto auto auto auto;
	margin: 0px 150px;
}
